{{!< default}}
{{> header}}

<div class="wrapper">
	<main class="main exit" role="main">
		{{#foreach posts}}
		<article class="article" role="article">
			{{#if image}}
			<section class="feature">
				<a href="{{url}}"><img src="{{image}}" /></a>
			</section>
			{{/if}}
			
			<section class="post-content">
				<time class="date" datetime="MM-DD-YYYY">{{date format="dddd - MMM DD, YYYY"}}</time>
				<h1 class="post-title"><a href="{{{url}}}">{{title}}</a></h1>
				<p class="excerpt">{{excerpt words="40"}}...</p>
				<p class="byline"><small>by {{author.name}}</small></p>
			</section>
		</article>
		{{/foreach}}

		{{#if pagination}}
		<div class="pagination">
			{{{pagination}}}
		</div>
		{{/if}}
	</main>
</div>

{{> footer}}